# SQL Analytics for Northwind Traders

In this project, I'm working with the Northwind database, a sample database originally provided by Microsoft for its Access Database Management System. It's based on a fictitious company named "Northwind Traders" and contains data on customers, orders, products, suppliers, and other aspects of the business.

I've chosen to work with a [PostgreSQL version of Northwind](https://github.com/pthom/northwind_psql/tree/master) for this analysis.

My goal is to extract meaningful business insights using advanced SQL techniques such as window functions and Common Table Expressions (CTEs). Through this project, I aim to demonstrate my SQL skills by answering these key business questions:

1. [Which employees generate the most revenue?](#section1)
2. [How are sales accumulating over time?](#section2)
3. [What are the monthly and yearly sales growth patterns?](#section3)

For reference, here's the schema diagram from the database's [GitHub page](https://github.com/pthom/northwind_psql/tree/master):

<img src="https://raw.githubusercontent.com/pthom/northwind_psql/master/ER.png" />

### Setting up the database connection

The following database credentials (postgres:postgres) are non-sensitive default values from the Northwind example Docker container from [this GitHub repository](https://github.com/pthom/northwind_psql/tree/master). This is a local Docker instance running on a non-standard port (55432). For production databases or databases with sensitive information, environment variables or other secure credential management would be used instead.

In [1]:
%load_ext sql
from sqlalchemy import create_engine

# Database connection parameters
db_url = "postgresql://postgres:postgres@localhost:55432/northwind"
engine = create_engine(db_url)

# Register the sqlalchemy engine with sql magic
%sql engine

# Configure sql magic to display all results
%config SqlMagic.displaylimit = 0

# Disable named parameters to prevent postgres syntax issues like ::DECIMAL
%config SqlMagic.named_parameters="disabled"

### Exploring the tables in the database

In [2]:
%%sql
SELECT
    table_name AS table_name,
    table_type AS table_type
FROM information_schema.tables
WHERE table_schema = 'public' AND table_type IN ('BASE TABLE', 'VIEW')
ORDER BY table_name;

Running query in 'postgresql://postgres:***@localhost:55432/northwind'

14 rows affected.

+------------------------+------------+
|       table_name       | table_type |
+------------------------+------------+
|       categories       | BASE TABLE |
| customer_customer_demo | BASE TABLE |
| customer_demographics  | BASE TABLE |
|       customers        | BASE TABLE |
|  employee_territories  | BASE TABLE |
|       employees        | BASE TABLE |
|     order_details      | BASE TABLE |
|         orders         | BASE TABLE |
|        products        | BASE TABLE |
|         region         | BASE TABLE |
|        shippers        | BASE TABLE |
|       suppliers        | BASE TABLE |
|      territories       | BASE TABLE |
|       us_states        | BASE TABLE |
+------------------------+------------+

<a id='section1'></a>
### Task 1: Which employees generate the most revenue?

In this analysis, I rank employees by their total sales amounts to identify top performers.

In [3]:
%%sql
WITH employee_sales AS (
    SELECT
        e.employee_id,
        e.first_name || ' ' || e.last_name AS employee_name,
        ROUND(
            SUM(od.unit_price * (1 - od.discount) * od.quantity)::DECIMAL,
            2) AS total_sales
    FROM employees e
    JOIN orders o ON e.employee_id = o.employee_id
    JOIN order_details od ON o.order_id = od.order_id
    GROUP BY e.employee_id
)
SELECT
    *,
    RANK() OVER (ORDER BY total_sales DESC) sales_rank
FROM employee_sales;

Running query in 'postgresql://postgres:***@localhost:55432/northwind'

9 rows affected.

+-------------+------------------+-------------+------------+
| employee_id |  employee_name   | total_sales | sales_rank |
+-------------+------------------+-------------+------------+
|      4      | Margaret Peacock |  232890.85  |     1      |
|      3      | Janet Leverling  |  202812.84  |     2      |
|      1      |  Nancy Davolio   |  192107.60  |     3      |
|      2      |  Andrew Fuller   |  166537.76  |     4      |
|      8      |  Laura Callahan  |  126862.28  |     5      |
|      7      |   Robert King    |  124568.23  |     6      |
|      9      |  Anne Dodsworth  |   77308.07  |     7      |
|      6      |  Michael Suyama  |   73913.13  |     8      |
|      5      | Steven Buchanan  |   68792.28  |     9      |
+-------------+------------------+-------------+------------+

<a id='section2'></a>
### Task 2: How are sales accumulating over time?

Here I calculate the running total of sales per month and a three-month moving average of monthly sales to visualize the sales trajectory.

In [4]:
%%sql
WITH monthly_sales AS (
    SELECT
        DATE_TRUNC('month', o.order_date) AS month,
        TO_CHAR(DATE_TRUNC('month', o.order_date), 'YYYY-MM') AS month_label,
        SUM(od.unit_price * (1 - od.discount) * od.quantity) AS monthly_sales
    FROM orders o
    JOIN order_details od ON o.order_id = od.order_id
    GROUP BY DATE_TRUNC('month', o.order_date)
)
SELECT
    month_label,
    ROUND(monthly_sales::DECIMAL, 2) monthly_sales,
    ROUND(
        SUM(monthly_sales) OVER (ORDER BY month)::DECIMAL,
        2) AS cumulative_sales,
    ROUND(
        AVG(monthly_sales) OVER (
            ORDER BY month
            ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
            )::DECIMAL,
        2) AS three_month_moving_avg
FROM monthly_sales
ORDER BY month;

Running query in 'postgresql://postgres:***@localhost:55432/northwind'

23 rows affected.

+-------------+---------------+------------------+------------------------+
| month_label | monthly_sales | cumulative_sales | three_month_moving_avg |
+-------------+---------------+------------------+------------------------+
|   1996-07   |    27861.90   |     27861.90     |        27861.90        |
|   1996-08   |    25485.28   |     53347.17     |        26673.59        |
|   1996-09   |    26381.40   |     79728.57     |        26576.19        |
|   1996-10   |    37515.72   |    117244.30     |        29794.13        |
|   1996-11   |    45600.05   |    162844.34     |        36499.06        |
|   1996-12   |    45239.63   |    208083.97     |        42785.13        |
|   1997-01   |    61258.07   |    269342.04     |        50699.25        |
|   1997-02   |    38483.63   |    307825.68     |        48327.11        |
|   1997-03   |    38547.22   |    346372.90     |        46096.31        |
|   1997-04   |    53032.95   |    399405.85     |        43354.60        |
|   1997-05   |    53781.29   |    453187.14     |        48453.82        |
|   1997-06   |    36362.80   |    489549.94     |        47725.68        |
|   1997-07   |    51020.86   |    540570.80     |        47054.98        |
|   1997-08   |    47287.67   |    587858.47     |        44890.44        |
|   1997-09   |    55629.24   |    643487.71     |        51312.59        |
|   1997-10   |    66749.23   |    710236.94     |        56555.38        |
|   1997-11   |    43533.81   |    753770.74     |        55304.09        |
|   1997-12   |    71398.43   |    825169.17     |        60560.49        |
|   1998-01   |    94222.11   |    919391.28     |        69718.12        |
|   1998-02   |    99415.29   |    1018806.57    |        88345.28        |
|   1998-03   |   104854.16   |    1123660.73    |        99497.18        |
|   1998-04   |   123798.68   |    1247459.41    |       109356.04        |
|   1998-05   |    18333.63   |    1265793.04    |        82328.82        |
+-------------+---------------+------------------+------------------------+

<a id='section3'></a>
### Task 3: What are the monthly and yearly sales growth patterns?

Here I calculate month-over-month and year-over-year sales growth to identify seasonal and overall trends.

In [5]:
%%sql
WITH monthly_sales AS (
    SELECT
        EXTRACT('year' from o.order_date) AS year,
        EXTRACT('month' from o.order_date) AS month,
        TO_CHAR(DATE_TRUNC('month', o.order_date), 'YYYY-MM') AS month_label,
        SUM(od.unit_price * (1 - od.discount) * od.quantity) AS monthly_sales
    FROM orders o
    JOIN order_details od ON o.order_id = od.order_id
    WHERE o.order_date IS NOT NULL
    GROUP BY
        EXTRACT('year' from o.order_date),
        EXTRACT('month' from o.order_date),
        TO_CHAR(DATE_TRUNC('month', o.order_date), 'YYYY-MM')
),
sales_comparison AS (
    SELECT
        year,
        month,
        month_label,
        monthly_sales,
        LAG(monthly_sales) OVER (ORDER BY year, month) AS prev_month_sales,
        LAG(monthly_sales, 12) OVER (ORDER BY year, month) AS prev_year_sales
    FROM monthly_sales
)
SELECT
    month_label,
    ROUND(monthly_sales::DECIMAL, 2) AS monthly_sales,
    ROUND(prev_month_sales::DECIMAL, 2) AS prev_month_sales,
    CASE
        WHEN prev_month_sales IS NULL THEN NULL
        ELSE ROUND(
            (100 * (monthly_sales - prev_month_sales) / prev_month_sales)::DECIMAL,
            2)
    END AS monthly_growth_pct,
    ROUND(prev_year_sales::DECIMAL, 2) AS prev_year_sales,
    CASE
        WHEN prev_year_sales IS NULL THEN NULL
        ELSE ROUND(
            (100 * (monthly_sales - prev_year_sales) / prev_year_sales)::DECIMAL,
            2)
    END AS yearly_growth_pct
FROM sales_comparison
ORDER BY year, month;

Running query in 'postgresql://postgres:***@localhost:55432/northwind'

23 rows affected.

+-------------+---------------+------------------+--------------------+-----------------+-------------------+
| month_label | monthly_sales | prev_month_sales | monthly_growth_pct | prev_year_sales | yearly_growth_pct |
+-------------+---------------+------------------+--------------------+-----------------+-------------------+
|   1996-07   |    27861.90   |       None       |        None        |       None      |        None       |
|   1996-08   |    25485.28   |     27861.90     |       -8.53        |       None      |        None       |
|   1996-09   |    26381.40   |     25485.28     |        3.52        |       None      |        None       |
|   1996-10   |    37515.72   |     26381.40     |       42.21        |       None      |        None       |
|   1996-11   |    45600.05   |     37515.72     |       21.55        |       None      |        None       |
|   1996-12   |    45239.63   |     45600.05     |       -0.79        |       None      |        None       |
|   1997-01   |    61258.07   |     45239.63     |       35.41        |       None      |        None       |
|   1997-02   |    38483.63   |     61258.07     |       -37.18       |       None      |        None       |
|   1997-03   |    38547.22   |     38483.63     |        0.17        |       None      |        None       |
|   1997-04   |    53032.95   |     38547.22     |       37.58        |       None      |        None       |
|   1997-05   |    53781.29   |     53032.95     |        1.41        |       None      |        None       |
|   1997-06   |    36362.80   |     53781.29     |       -32.39       |       None      |        None       |
|   1997-07   |    51020.86   |     36362.80     |       40.31        |     27861.90    |       83.12       |
|   1997-08   |    47287.67   |     51020.86     |       -7.32        |     25485.28    |       85.55       |
|   1997-09   |    55629.24   |     47287.67     |       17.64        |     26381.40    |       110.87      |
|   1997-10   |    66749.23   |     55629.24     |       19.99        |     37515.72    |       77.92       |
|   1997-11   |    43533.81   |     66749.23     |       -34.78       |     45600.05    |       -4.53       |
|   1997-12   |    71398.43   |     43533.81     |       64.01        |     45239.63    |       57.82       |
|   1998-01   |    94222.11   |     71398.43     |       31.97        |     61258.07    |       53.81       |
|   1998-02   |    99415.29   |     94222.11     |        5.51        |     38483.63    |       158.33      |
|   1998-03   |   104854.16   |     99415.29     |        5.47        |     38547.22    |       172.01      |
|   1998-04   |   123798.68   |    104854.16     |       18.07        |     53032.95    |       133.44      |
|   1998-05   |    18333.63   |    123798.68     |       -85.19       |     53781.29    |       -65.91      |
+-------------+---------------+------------------+--------------------+-----------------+-------------------+

### Task 4: Which products contribute most to revenue?

In [6]:
%%sql
WITH product_sales AS (
    SELECT
        p.product_id,
        p.product_name,
        c.category_name,
        ROUND(
            SUM(od.unit_price * (1 - od.discount) * od.quantity)::DECIMAL,
            2) AS total_revenue,
        SUM(od.quantity) AS total_units_sold
    FROM products p
    JOIN categories c ON p.category_id = c.category_id
    JOIN order_details od ON p.product_id = od.product_id
    GROUP BY p.product_id, p.product_name, c.category_name
)
SELECT
    product_id,
    product_name,
    category_name,
    total_revenue,
    total_units_sold,
    ROUND(100 * total_revenue / SUM(total_revenue) OVER (), 2) AS revenue_pct,
    SUM(total_revenue) OVER () AS grand_total
FROM product_sales
ORDER BY total_revenue DESC;

Running query in 'postgresql://postgres:***@localhost:55432/northwind'

77 rows affected.

+------------+----------------------------------+----------------+---------------+------------------+-------------+-------------+
| product_id |           product_name           | category_name  | total_revenue | total_units_sold | revenue_pct | grand_total |
+------------+----------------------------------+----------------+---------------+------------------+-------------+-------------+
|     38     |          Côte de Blaye           |   Beverages    |   141396.74   |       623        |    11.17    |  1265793.04 |
|     29     |     Thüringer Rostbratwurst      |  Meat/Poultry  |    80368.67   |       746        |     6.35    |  1265793.04 |
|     59     |       Raclette Courdavault       | Dairy Products |    71155.70   |       1496       |     5.62    |  1265793.04 |
|     62     |          Tarte au sucre          |  Confections   |    47234.97   |       1083       |     3.73    |  1265793.04 |
|     60     |        Camembert Pierrot         | Dairy Products |    46825.48   |       1577       |     3.70    |  1265793.04 |
|     56     |      Gnocchi di nonna Alice      | Grains/Cereals |    42593.06   |       1263       |     3.36    |  1265793.04 |
|     51     |      Manjimup Dried Apples       |    Produce     |    41819.65   |       886        |     3.30    |  1265793.04 |
|     17     |           Alice Mutton           |  Meat/Poultry  |    32698.38   |       978        |     2.58    |  1265793.04 |
|     18     |         Carnarvon Tigers         |    Seafood     |    29171.87   |       539        |     2.30    |  1265793.04 |
|     28     |        Rössle Sauerkraut         |    Produce     |    25696.64   |       640        |     2.03    |  1265793.04 |
|     72     |      Mozzarella di Giovanni      | Dairy Products |    24900.13   |       806        |     1.97    |  1265793.04 |
|     43     |           Ipoh Coffee            |   Beverages    |    23526.70   |       580        |     1.86    |  1265793.04 |
|     20     |      Sir Rodney's Marmalade      |  Confections   |    22563.36   |       313        |     1.78    |  1265793.04 |
|     7      | Uncle Bob's Organic Dried Pears  |    Produce     |    22044.30   |       763        |     1.74    |  1265793.04 |
|     64     |    Wimmers gute Semmelknödel     | Grains/Cereals |    21957.97   |       740        |     1.73    |  1265793.04 |
|     69     |         Gudbrandsdalsost         | Dairy Products |    21942.36   |       714        |     1.73    |  1265793.04 |
|     10     |              Ikura               |    Seafood     |    20867.34   |       742        |     1.65    |  1265793.04 |
|     53     |          Perth Pasties           |  Meat/Poultry  |    20574.17   |       722        |     1.63    |  1265793.04 |
|     26     |       Gumbär Gummibärchen        |  Confections   |    19849.14   |       753        |     1.57    |  1265793.04 |
|     71     |           Flotemysost            | Dairy Products |    19551.03   |       1057       |     1.54    |  1265793.04 |
|     40     |         Boston Crab Meat         |    Seafood     |    17910.63   |       1103       |     1.41    |  1265793.04 |
|     55     |           Pâté chinois           |  Meat/Poultry  |    17426.40   |       903        |     1.38    |  1265793.04 |
|     16     |             Pavlova              |  Confections   |    17215.78   |       1158       |     1.36    |  1265793.04 |
|     63     |           Vegie-spread           |   Condiments   |    16701.10   |       445        |     1.32    |  1265793.04 |
|     2      |              Chang               |   Beverages    |    16355.96   |       1057       |     1.29    |  1265793.04 |
|     76     |           Lakkalikööri           |   Beverages    |    15760.44   |       981        |     1.25    |  1265793.04 |
|     27     |        Schoggi Schokolade        |  Confections   |    15099.88   |       365        |     1.19    |  1265793.04 |
|     31     |        Gorgonzola Telino         | Dairy Products |    14920.87   |       1397       |     1.18    |  1265793.04 |
|     61     |          Sirop d'érable          |   Condiments   |    14352.60   |       603        |     1.13    |  1265793.04 |
|     65     | Louisiana Fiery Hot Pepper Sauce |   Condiments   |    13869.89   |       745        |     1.10    |  1265793.04 |
|     35     |          Steeleye Stout          |   Beverages    |    13644.00   |       883        |     1.08    |  1265793.04 |
|     36     |           Inlagd Sill            |    Seafood     |    13458.46   |       805        |     1.06    |  1265793.04 |
|     30     |      Nord-Ost Matjeshering       |    Seafood     |    13424.20   |       612        |     1.06    |  1265793.04 |
|     11     |          Queso Cabrales          | Dairy Products |    12901.77   |       706        |     1.02    |  1265793.04 |
|     1      |               Chai               |   Beverages    |    12788.10   |       828        |     1.01    |  1265793.04 |
|     8      |    Northwoods Cranberry Sauce    |   Condiments   |    12772.00   |       372        |     1.01    |  1265793.04 |
|     39     |         Chartreuse verte         |   Beverages    |    12294.54   |       793        |     0.97    |  1265793.04 |
|     12     |    Queso Manchego La Pastora     | Dairy Products |    12257.66   |       344        |     0.97    |  1265793.04 |
|     70     |          Outback Lager           |   Beverages    |    10672.65   |       817        |     0.84    |  1265793.04 |
|     44     |           Gula Malacca           |   Condiments   |    9915.95    |       601        |     0.78    |  1265793.04 |
|     49     |             Maxilaku             |  Confections   |    9244.60    |       520        |     0.73    |  1265793.04 |
|     77     | Original Frankfurter grüne Soße  |   Condiments   |    9171.63    |       791        |     0.72    |  1265793.04 |
|     21     |       Sir Rodney's Scones        |  Confections   |    9104.00    |       1016       |     0.72    |  1265793.04 |
|     68     |       Scottish Longbreads        |  Confections   |    8714.00    |       799        |     0.69    |  1265793.04 |
|     41     | Jack's New England Clam Chowder  |    Seafood     |    8680.34    |       981        |     0.69    |  1265793.04 |
|     42     |  Singaporean Hokkien Fried Mee   | Grains/Cereals |    8575.00    |       697        |     0.68    |  1265793.04 |
|     4      |   Chef Anton's Cajun Seasoning   |   Condiments   |    8567.90    |       453        |     0.68    |  1265793.04 |
|     32     |        Mascarpone Fabioli        | Dairy Products |    8404.16    |       297        |     0.66    |  1265793.04 |
|     75     |       Rhönbräu Klosterbier       |   Beverages    |    8177.49    |       1155       |     0.65    |  1265793.04 |
|     14     |               Tofu               |    Produce     |    7991.49    |       404        |     0.63    |  1265793.04 |
|     57     |          Ravioli Angelo          | Grains/Cereals |    7661.55    |       434        |     0.61    |  1265793.04 |
|     9      |         Mishi Kobe Niku          |  Meat/Poultry  |    7226.50    |        95        |     0.57    |  1265793.04 |
|     6      |   Grandma's Boysenberry Spread   |   Condiments   |    7137.00    |       301        |     0.56    |  1265793.04 |
|     22     |       Gustaf's Knäckebröd        | Grains/Cereals |    7122.36    |       348        |     0.56    |  1265793.04 |
|     34     |          Sasquatch Ale           |   Beverages    |    6350.40    |       506        |     0.50    |  1265793.04 |
|     46     |            Spegesild             |    Seafood     |    5883.00    |       548        |     0.46    |  1265793.04 |
|     58     |      Escargots de Bourgogne      |    Seafood     |    5881.68    |       534        |     0.46    |  1265793.04 |
|     19     |    Teatime Chocolate Biscuits    |  Confections   |    5862.62    |       723        |     0.46    |  1265793.04 |
|     5      |      Chef Anton's Gumbo Mix      |   Condiments   |    5347.20    |       298        |     0.42    |  1265793.04 |
|     13     |              Konbu               |    Seafood     |    4960.44    |       891        |     0.39    |  1265793.04 |
|     54     |            Tourtière             |  Meat/Poultry  |    4728.24    |       755        |     0.37    |  1265793.04 |
|     23     |             Tunnbröd             | Grains/Cereals |    4601.70    |       580        |     0.36    |  1265793.04 |
|     24     |        Guaraná Fantástica        |   Beverages    |    4504.36    |       1125       |     0.36    |  1265793.04 |
|     45     |           Rogede sild            |    Seafood     |    4338.17    |       508        |     0.34    |  1265793.04 |
|     73     |            Röd Kaviar            |    Seafood     |    3997.20    |       293        |     0.32    |  1265793.04 |
|     47     |          Zaanse koeken           |  Confections   |    3958.08    |       485        |     0.31    |  1265793.04 |
|     25     |     NuNuCa Nuß-Nougat-Creme      |  Confections   |    3704.40    |       318        |     0.29    |  1265793.04 |
|     50     |         Valkoinen suklaa         |  Confections   |    3437.69    |       235        |     0.27    |  1265793.04 |
|     66     |    Louisiana Hot Spiced Okra     |   Condiments   |    3383.00    |       239        |     0.27    |  1265793.04 |
|     52     |             Filo Mix             | Grains/Cereals |    3232.95    |       500        |     0.26    |  1265793.04 |
|     3      |          Aniseed Syrup           |   Condiments   |    3044.00    |       328        |     0.24    |  1265793.04 |
|     37     |            Gravad lax            |    Seafood     |    2688.40    |       125        |     0.21    |  1265793.04 |
|     74     |          Longlife Tofu           |    Produce     |    2432.50    |       297        |     0.19    |  1265793.04 |
|     67     |    Laughing Lumberjack Lager     |   Beverages    |    2396.80    |       184        |     0.19    |  1265793.04 |
|     15     |           Genen Shouyu           |   Condiments   |    1784.82    |       122        |     0.14    |  1265793.04 |
|     33     |             Geitost              | Dairy Products |    1648.12    |       755        |     0.13    |  1265793.04 |
|     48     |            Chocolade             |  Confections   |    1368.71    |       138        |     0.11    |  1265793.04 |
+------------+----------------------------------+----------------+---------------+------------------+-------------+-------------+